<nav class="navmenuhaut">
  
    <div>
      <figure class="text-center">
        <blockquote class="blockquote">
          <p style="color: rgb(187, 187, 187);">Plateforme ISI traitant les problemes liés à l'Architecture logiciel.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Notre plateforme en <cite title="Source Title">ISI Architecture</cite>
          <button type="button" class="btn btn-dark position-relative" style="margin-left: 35px;">
            ISIENS <svg width="1em" height="1em" viewBox="0 0 16 16" class="position-absolute top-100 start-50 translate-middle mt-1 bi bi-caret-down-fill" fill="#212529" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
          </button>
        </figcaption>
      </figure>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link text-25 active lienTet" aria-current="page" href="#">Newsletter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-25 lienTet" href="#">YouTube</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-25 lienTet" href="#">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-25 lienTet">Login</a>
        </li>
      </ul>
      
    </div>
  </nav>
  